{% extends 'app/layout.html' %}
{% block content %}
{% block styles %}
<style>

</style>
{% endblock %}
  <h1>Crear nueva ruta</h1>
  <div class="row">
    <div class="col-md-4">
      <div id="poitypes" class="list-group">

      </div>
    </div>
    <div class="col-md-4">
      <div class="" style="height:698px;overflow:scroll">
        <ul id="typelist" style="min-height:50px;" class="list-group">

        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <ul class="list-group" style="padding:5px;min-height:50px;" id="final" class="connected">

      </ul>
    </div>
  </div>
  <div class="row">
    <button id="save" class="col-md-12 btn btn-success" style="margin-left:10px;margin-right:10px" type="submit">Guardar</button>
  </div>

{% endblock %}

{% block scripts %}
  <script type="text/javascript">
      function getPoiTypes (){
          var j = $.ajax({
            url: "{% url 'poiTypes' %}",
            method: "GET",
            success: function(response) {
              response.forEach(function(obj, index) {
                $("#poitypes").append(
                  '<a href="#" data-id="'+ obj.type +'" class="list-group-item">'+ obj.name +'</a>'
                );
              });
            }
          });

          console.log(j.error());
      }

      function getPois (id, callback){
        var j = $.ajax({
          url: "{% url 'pois' %}",
          data: {typeId:id},
          method: "GET",
          success: function(response) {
            $("#typelist").html("");
            response.forEach(function(obj, index) {
              $("#typelist").append(
                '<li data-id="'+ obj["_id"]["$oid"] +'" class="list-group-item">'+ obj.name +'</li>'
              );
            });
            callback();
          }
        });

        console.log(j.error());
      }

      function getRoute (typeId){
        $.get({
          url: "getPois.html",
            data: {typeId:id}
        }).done(function() {
          $( this ).addClass( "done" );
        }).fail(function() {
          alert( "error" );
        });
    }

    function saveRoute(start, middle, end, routeName, userName, tags){
      $.get({
      url : "create_map.html",
      data : {
      "start" : start,
      "middle" : middle,
      "end" : end,
      "routeName": routeName,
      "userName" : userName,
      "tags" : tags
      }
    }).fail(function() {
      alert("sdfsdf");
    });
      }



    $(document).on("ready", function(event) {
      getPoiTypes();
      $('#typelist, #final').sortable({
        connectWith: ".connected"
      });

      $("body").on("click", "#poitypes a", function(event) {
        event.preventDefault();
        var type = $(this).data("id");

        getPois(type, function() {
          $('#typelist, #final').sortable({
            connectWith: ".connected"
          });
        });
      });

      $("#save").on("click", function(event) {
        event.preventDefault();
        var item = $("#final").children("data-id");
        console.log(item);

        var middle = new Array();
        for(var i = 1; i < item.length-2; i++) {
          middle.push(item[i].attr('data-id'));
        }

//saveRoute(item[0].attr('data-id'), middle, item[item.length-1].attr('data-id'), 'anonimo', 'Test', "");

      window.location = "http://192.168.99.101/app/map/56b60071d7ed4e7db89d3f63/";
      });
    });
  </script>
{% endblock %}
