{% extends 'app/layout.html' %}
{% block content %}
{% block styles %}
<style>

</style>
{% endblock %}
  <h1>Crear nueva ruta</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          Cras justo odio
        </a>
        <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item">Morbi leo risus</a>
        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item">Vestibulum at eros</a>
      </div>
    </div>
    <div class="col-md-4">
      <ul id="typelist" style="min-height:50px;" class="list-group">
        <li class="list-group-item">Item 1</li>
        <li class="list-group-item">Item 2</li>
        <li class="list-group-item">Item 3</li>
        <li class="list-group-item">Item 4</li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-group" style="padding:5px;min-height:50px;" id="final" class="connected">

      </ul>
    </div>
  </div>
  <div class="row">
    <button class="col-md-12 btn btn-success" style="margin-left:10px;margin-right:10px" type="submit">Guardar</button>
  </div>

{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).on("ready", function(event) {
      $('#typelist, #final').sortable({
        connectWith: ".connected"
      });
    });
  </script>
{% endblock %}
