{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.22/gmaps.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5sortable/0.3.1/html.sortable.min.js"></script>

    </script>
    <script type="text/javascript">
      $(document).on("ready", function(event) {
        /*var map = new GMaps({
            div: '#map',
            lat: -12.043333,
            lng: -77.028333,
            width: '500px',
            height: '500px',
        });

        map.drawRoute({
          origin: [-12.044012922866312, -77.02470665341184],
          destination: [-12.090814532191756, -77.02271108990476],
          travelMode: 'driving',
          strokeColor: '#131540',
          strokeOpacity: 0.6,
          strokeWeight: 6
        });

        map.addMarker({
          lat: -12.044012922866312,
          lng: -77.02470665341184,
          title: 'Lima',
          infoWindow: {
            content: '<p>Content</p>'
          }
        });

        map.addMarker({
          lat: -12.090814532191756,
          lng: -77.02271108990476,
          title: 'Lima',
          infoWindow: {
            content: '<p>Content</p>'
          }
        });*/
      });
    </script>

    <script type="text/javascript">
      function addMarkers(component, lats) {

      }
    </script>

    <title>Roots</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    {% block styles %}{% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class=""><a href="{% url 'top' %}">Home</a></li>
            <li role="presentation"><a class="active" href="{% url 'create' %}">Create</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Roots</h3>
      </div>

      <div class="row content">
        {% block content %}{% endblock %}
      </div>

      <footer class="footer">
        <p></p>
      </footer>

    </div> <!-- /container -->
  </body>
  {% block scripts %}{% endblock %}
</html>
