{% extends 'app/layout.html' %}
{% block content %}
  <div id="poitypes" class="list-group">
  {% for obj in res %}
    <a href="#" class="list-group-item"> {{obj.routeName}} |  {{obj.userName}} | {{obj.rating}} </a>
  {% endfor %}
  </div>
{% endblock %}
