{% extends 'app/layout.html' %}
{% block content %}
{% block styles %}
<style>
#map{
  display: block;
  width: 95%;
  height: 350px;
  margin: 0 auto;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
}
#map.large{
  height:500px;
}

.overlay{
  display:block;
  text-align:center;
  color:#fff;
  font-size:60px;
  line-height:80px;
  opacity:0.8;
  background:#4477aa;
  border:solid 3px #336699;
  border-radius:4px;
  box-shadow:2px 2px 10px #333;
  text-shadow:1px 1px 1px #666;
  padding:0 4px;
}

.overlay_arrow{
  left:50%;
  margin-left:-16px;
  width:0;
  height:0;
  position:absolute;
}
.overlay_arrow.above{
  bottom:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-top:16px solid #336699;
}
.overlay_arrow.below{
  top:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-bottom:16px solid #336699;
}
</style>
{% endblock %}

<div style="text-align:center;" class="row">
  <div id="map" class="">

  </div>
  <div class="info">

  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).on("ready", function(event) {
    var map = new GMaps({
        div: '#map',
        lat: -12.043333,
        lng: -77.028333,
        width: '500px',
        height: '500px',
    });

    map.drawRoute({
      origin: [-12.044012922866312, -77.02470665341184],
      destination: [-12.090814532191756, -77.02271108990476],
      travelMode: 'driving',
      strokeColor: '#131540',
      strokeOpacity: 0.6,
      strokeWeight: 6
    });

    map.addMarker({
      lat: -12.044012922866312,
      lng: -77.02470665341184,
      title: 'Lima',
      infoWindow: {
        content: '<p>Content</p>'
      }
    });

    map.addMarker({
      lat: -12.090814532191756,
      lng: -77.02271108990476,
      title: 'Lima',
      infoWindow: {
        content: '<p>Content</p>'
      }
    });


    var map = new GMaps({
        div: '#map',
        lat: {{ start.latitude }},
        lng: {{ start.longitude }},
        width: '500px',
        height: '500px',
    });

    map.drawRoute({
      origin: [{{ start.latitude }}, {{ start.longitude }}],
      destination: [{{ end.longitude }}, {{ end.longitude }}],
      travelMode: 'driving',
      strokeColor: '#131540',
      strokeOpacity: 0.6,
      strokeWeight: 6
    });

    map.addMarker({
      lat: {{ start.latitude }},
      lng: {{ start.longitude }},
      title: "{{ start.name }}",
      infoWindow: {
        content: "{{ start.address }}"
      }
    });

    map.addMarker({
      lat: {{ end.latitude }},
      lng: {{ end.longitude }},
      title: "{{ end.name }}",
      infoWindow: {
        content: "{{ end.address }}"
      }
  });

  {% for obj in middle %}
  map.addMarker({
    lat: {{ obj.latitude }},
    lng: {{ obj.longitude }},
    title: "{{ obj.name }}",
    infoWindow: {
      content: "{{ obj.address }}"
    }
});
  {% endfor %}



  /*var map = new GMaps({
      div: '#map',
      lat: -12.043333,
      lng: -77.028333,
      width: '500px',
      height: '500px',
  });

  map.drawRoute({
    origin: [-12.044012922866312, -77.02470665341184],
    destination: [-12.090814532191756, -77.02271108990476],
    travelMode: 'driving',
    strokeColor: '#131540',
    strokeOpacity: 0.6,
    strokeWeight: 6
  });

  map.addMarker({
    lat: -12.044012922866312,
    lng: -77.02470665341184,
    title: 'Lima',
    infoWindow: {
      content: '<p>Content</p>'
    }
  });

  map.addMarker({
    lat: -12.090814532191756,
    lng: -77.02271108990476,
    title: 'Lima',
    infoWindow: {
      content: '<p>Content</p>'
    }
  });*/
});
</script>
{% endblock %}
